<div
  class="panel"
  *ngIf="{
    mode: mode$ | async,
    money: money$ | async,
} as context"
>
  <div class="panel__towers">
    <!-- <button (click)="enableBuildMode()" [disabled]="(context.money || 0) < 20">
      Build tower
    </button>
    <button (click)="enableNormalMode()" [disabled]="context.mode === 'NORMAL'">
      Cancel
    </button> -->
  </div>
  <div class="panel__stats">
    <div>credits: {{ credits$ | async }}</div>
    <div>kills: {{ kills$ | async }}</div>
    <div>money: {{ money$ | async }}</div>
  </div>
</div>
